<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<div th:fragment="logout">
    <b>Your info:</b><br>
    Logged user: <span th:utext="${#request.userPrincipal.name}"></span><br>
    Roles: <span th:utext="${#request.userPrincipal.authorities}"></span><br>
    <sec:authentication property="principal.username"/>
    <!--<table>
        <caption>

        </caption>
        <tr>
            <th>Name: </th>
            <td>
                <sec:authentication property="principal.username"/>
            </td>
        </tr>
        <tr>
            <th>Role(s): </th>
            <td>
                <sec:authentication property="principal.authorities"/>
            </td>
        </tr>
        <tr>
            <td>-->
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
            <!--    </form>
            </td>
        </tr>
    </table>-->
</div>



