<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>


<div th:fragment="auth-info">
  <b>Your info:</b><br>
  <!--Logged user: <span th:utext="${#request.userPrincipal.name}"></span><br>
  Roles: <span th:utext="${#request.userPrincipal.authorities}"></span><br>-->
  Logged user:
  <span sec:authentication="name"></span><br>
  Roles:
  <!--<span sec:authorize="hasAuthority('USER')">USER</span>
  <span sec:authorize="hasAuthority('ADMIN')">ADMIN</span>-->

  <span sec:authentication="principal.authorities"/>
  <!--
      <th:block th:each="r, iter:${#authentication.getAuthorities()}">
          <span th:text="${r.getAuthority()}"></span>
          <th:block th:if="${!iter.last}">, </th:block>
      </th:block>-->
</div>
<div th:fragment="logout">
  <form class="form-inline" th:action="@{/logout}" method="post">
    <button class="btn btn-outline-success" type="submit">Sign out</button>
  </form>
</div>


