
<div class="container-fluid" style="margin-top: 1em;">
	<div class="row">
		<div class="col-8 mx-auto align-items-center" style="max-width: 300px;">


			<form th:action="@{/save}" th:object="${user}" method="POST" class="form-group">

				<!--  id      -->
<!--				<label for="id" class="form-text text-center"><b>Id</b></label>-->
				<input th:field="*{id}" id="id" type="hidden" class="form-control" placeholder="User Id" name="id">
				<!--  Login      -->
				<label for="inputName" class="form-text text-center"><b>Username</b></label>
				<input th:field="*{username}" type="text" id="inputName" class="form-control" placeholder="Username" name="username">
				<!--  Password      -->
				<label for="inputPassword" class="form-text text-center"><b>Password</b></label>
				<input th:field="*{password}" id="inputPassword" class="form-control" placeholder="Password" name="password">
				<!--  Money      -->
				<label for="inputMoney" class="form-text text-center"><b>Money</b></label>
				<input th:field="*{money}" type="number" id="inputMoney" class="form-control" placeholder="Money" name="money">

				<label for="inputRoles" class="form-text text-center"><b>Roles</b></label>
				<select th:field="*{roles}" class="form-control" type="text"  id="inputRoles" name="Roles" multiple="multiple" size="2">

					<option th:each="role : ${allRoles}"
									th:field="*{roles}"
									th:value="${role.id}"
									th:text="${role.type}"></option>
				</select>

				<button class="btn btn-lg btn-success btn-block" type="submit" style="margin-top: 10px">Submit</button>
			</form>

		</div>
	</div>
</div>

<!--
    <div align="center">
		<form action="#" th:action="@{/save}" th:object="${user}" method="POST">
			<input type="hidden" th:field="*{id}" id="id" />

			<table>
				<tr>
					<th><label for="username">User Name: </label></th>
					<td>
						<input type="text" th:field="*{username}" id="username" placeholder="username" size="45" />
					</td>
				</tr>
				<tr>
					<th><label for="password">User Password: </label></th>
					<td>
						<input type="text" th:field="*{password}" id="password" placeholder="password" size="45" />
					</td>
				</tr>
				<tr>
					<th><label for="money">Money: </label></th>
					<td>
						<input type="number" th:field="*{money}" id="money" placeholder="money" size="45" />					</td>
				<tr>
					<th><label for="roles">Role: </label></th>
					<td>
						<select type="text" th:field="*{roles}" id="roles" multiple="multiple">
							<option th:each="role : ${allRoles}"
									th:field="*{roles}"
									th:value="${role.id}"
									th:text="${role.type}"></option>
						</select>
					</td>
				<tr>
					<td colspan="2" align="center">
						<span th:if="${edit}">
								<input  type="submit" value="Update" /> or <a href="/list">Cancel</a>
						</span>
						<span th:unless="${edit}">
								<input type="submit" value="Register" /> or <a href="/list">Cancel</a>
						</span>
					</td>
				</tr>
			</table>
		</form>
    </div>-->

