<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<html>
<head>
    <title>User Management Application</title>
</head>
<body>
<center>
    <h1>Welcome to User Management Application</h1>
    <h3>now running on Spring Boot 2!</h3>
    <hr>
<!--    <a href="/register">Register</a>-->
    <div sec:authorize="hasRole('ROLE_ADMIN')">
       <a th:href="@{/list}">List of all users</a>
    </div>

    </h2>
</center>
<footer>
    <div th:insert="~{/fragments/logout :: logout}"></div>
</footer>
</body>
</html>
