<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head>
	<title>Edit User | User Management App</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Reference Bootstrap files -->
	<link rel="stylesheet"
				href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
				integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
				crossorigin="anonymous">
	<!--  CSS -->
	<link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body style="background-color: whitesmoke;">
<div th:insert="~{/fragments/navbar :: navbar}">
</div>

<div class="d-flex" id="wrapper">
	<!-- Sidebar -->
	<div class=" bg-light border-right" id="sidebar-wrapper">
		<div class="sidebar-heading"></div>
		<div class="list-group list-group-flush">
			<div sec:authorize="hasAuthority('ADMIN')">
				<a th:href="@{/list}" class="list-group-item list-group-item-action bg-light">Admin</a>
			</div>
			<a th:href="@{/}" class="list-group-item list-group-item-action bg-light">User</a>
		</div>
	</div>
	<!-- /#sidebar-wrapper -->

	<div id="page-content-wrapper">
		<div class="container mt-3 ml-2 mb-2">
			<center>
				<h1>User Management</h1>

				<a th:href="@{/new}">Add New User</a>
				&nbsp;&nbsp;&nbsp;
				<a th:href="@{/list}">List All Users</a>

			</center>


			<div align="center">
				<form action="#" th:action="@{/save}" th:object="${user}" method="POST">
					<input type="hidden" th:field="*{id}" id="id" />

					<table>
						<tr>
							<th><label for="username">User Name: </label></th>
							<td>
								<input type="text" th:field="*{username}" id="username" placeholder="username" size="45" />
							</td>
						</tr>
						<tr>
							<th><label for="password">User Password: </label></th>
							<td>
								<input type="text" th:field="*{password}" id="password" placeholder="password" size="45" />
							</td>
						</tr>
						<tr>
							<th><label for="money">Money: </label></th>
							<td>
								<input type="number" th:field="*{money}" id="money" placeholder="money" size="45" />					</td>
						<tr>
							<th><label for="roles">Role: </label></th>
							<td>
								<select type="text" th:field="*{roles}" id="roles" multiple="multiple">
									<option th:each="role : ${allRoles}"
													th:field="*{roles}"
													th:value="${role.id}"
													th:text="${role.type}"></option>
								</select>
							</td>
						<tr>
							<td colspan="2" align="center">
						<span th:if="${edit}">
								<input  type="submit" value="Update" /> or <a href="/list">Cancel</a>
						</span>
								<span th:unless="${edit}">
								<input type="submit" value="Register" /> or <a href="/list">Cancel</a>
						</span>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>

	</div>

			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
							integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
							crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
							integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
							crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
							integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
							crossorigin="anonymous"></script>

</body>
</html>
